/* Google fonts インポート */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@1,300&display=swap');

/* グローバルリセットとフォント指定  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* body タグの設定 */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(255, 238, 0);
    position: relative;
    overflow: hidden;
}

/* アニメーション用ブロック */
.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* タイトルテキスト */
h2 {
    color: rgb(255, 255, 255);
    font-size: 6rem;
    text-align: center;
    position: relative;
    mix-blend-mode: difference;
    z-index: 2;
}

/* 円形ブロック */
.block {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(0, 157, 255);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.214);
}